body 
{
	padding-top: 7px;
    margin-top: 60px;
    margin-bottom: 100px;
    font-family: 'Droid Sans', sans-serif;
    opacity: 1;
}

#footer
{
	/*background: #2E8B57;*/
	padding: 20px;
	color : gray;
	margin-top : 100px;
}

.text
{
    color : white;
}

.info
{
	font-weight: bold;
}


/* menu multi level */
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
/*.dropdown-submenu:hover>.dropdown-menu{display:block;}*/
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

/* menu multi level */

/* tulisan terbaru */
.contpost {
    margin-top: 10px;
}
.PostTitle {
    padding: 5px;
}
.PostDate {
    float: right;
    font-size: 14px;
    margin-top: -26px;
    margin-right: 10px;
}
/* tulisan terbaru */

/*menu*/
body { padding-top:20px; }
.panel-body .btn:not(.btn-block) { width:120px;margin-bottom:10px; }
/*menu*/


#header_post
{
    margin-bottom: 1%;
    margin-top: -2%;
    height: 90px;
    background:
    radial-gradient(#064305 15%, transparent 16%) 0 0,
    radial-gradient(#064305 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#096e08;
    background-size:16px 16px;
}

.line
{
    margin-bottom: 3%;
}